/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background-color: rgb(163, 47, 47);
    width: 100%;;
    padding: 50px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: rgb(163, 47, 47);
}

h3{
    font-weight: bold;
}

p {
    font-size: 18px;
    max-width: 800px;
}
li {
    font-size: 18px;
    max-width: 800px;
    margin-bottom: 10px;
}
.sezione{
    padding: 20px;
    background-color: 	#E5E6E4;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
}

.testo{
    margin-left: 30px;
    margin-top: 10px;
}

footer {
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    color: white;
    text-align: center;
    padding:50px;
}

.icone {
    margin: 100px;
}

.allineaIMG{
    margin: 20px;
    display: inline-block;
}